* {
	font-family: Verdana;
	text-align: center;
}
body {
	background-color: black;
}

h1 {
	color: white;

}

h2 {
	color: gray;
	font-size: 16px;
}

.ComingSoon{
	color: aquamarine;
	font-size: 16px;
}
.Title{
	font-size: 50px;
	font-weight: normal;
}
.SecondTitle{
	font-size: 42px;
	font-weight: 300;
}

.copyright{
	text-align: right;
}
